<div class="card">
    <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true" [globalFilterFields]="['firstname','lastname','address']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="sarch w-auto h-full ">
                    <input type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Họ tên </th>
                <th pSortableColumn="country">Tỉnh</th>
                <th pSortableColumn="address">Địa chỉ </th>
                <th pSortableColumn="phone">SĐT </th>
                <th pSortableColumn="email">Email </th>
                <th pSortableColumn="price">Tổng </th>
                <th style="min-width:10rem">Trạng thái</th>
                <th>Action</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{order.firstname}} {{order.lastname}}</td>
                <td>{{order.country}}</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.email}}</td>
                <td>${{order.totalPrice}}</td>
                <td><button class="btn btn-success">Pending...</button></td>
                <td><button class="btn btn-danger">Xóa</button></td>
            </tr>
        </ng-template>
    </p-table>
</div>