<p-card class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button class="btn btn-success mr-2" (click)="showNew()">Thêm Blog</button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listBlog" [rows]="10" [paginator]="true" [globalFilterFields]="['title','name']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Blog</h5>
                <span class="p-input-icon-left">
                    <input type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Image</th>
                <th pSortableColumn="name"  style="min-width:10rem">Title </th>
                <th pSortableColumn="price"  style="min-width:15rem">Description</th>
                <th pSortableColumn="category" style="min-width:15rem">Content</th>
                <th style="min-width:10rem">Action</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-blog>
            <tr>
                <td><img src="{{'data:image/jpg;base64,' +blog.image.data}}" [alt]="blog.title" width="100" class="shadow-4" /></td>
                <td>{{blog.title}}</td>
                <td>{{blog.description}}</td>
                <td>{{blog.content}}</td>
                <td>
                    <button class="btn btn-primary mr-2" (click)="showUpdate(blog)" >Update</button>
                    <button class="btn btn-danger" (click)="showDelete(blog.id,blog.title)">Delete</button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-card>



<p-dialog [(visible)]="showForm" [style]="{width: '30vw'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Title</label>
            <input type="text" pInputText id="title" [(ngModel)]="blogForm.title" required autofocus />
        </div>

        <div class="field">
            <label for="name">Tag</label>
            <p-multiSelect [options]="listTag" [(ngModel)]="selectedTags" optionLabel="name" optionValue="id"></p-multiSelect>
        </div>

        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="blogForm.description" required rows="2" cols="20"></textarea>
        </div>
        <div class="content">
            <label for="content">Content</label>
            <textarea id="content" pInputTextarea [(ngModel)]="blogForm.content" required rows="3" cols="10"></textarea>
        </div>

        <div class="field">
            <button class="btn btn-success w-auto" (click)="onChooseImage()">Chọn ảnh</button>
            <p-dialog header="Chọn ảnh" [(visible)]="showImage" position="top" [modal]="true" [style]="{width: '40vw'}" [transitionOptions]="'.3s'">
                <div class="flex justify-content-between">
                    <div>
                        <input type="file" #file (change)="uploadFile($event)" hidden>
                        <button (click)="file.click()" class="btn btn-primary w-auto">Tải ảnh lên</button>
                    </div>
                    <div>
                        <button class="btn btn-primary w-auto" [disabled]="disabled" (click)="chooseImage()">Chọn ảnh</button>
                        <button class="btn btn-danger ml-2 w-auto"[disabled]="disabled">Xóa ảnh</button>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-4 list-image flex align-items-center" *ngFor="let image of listImage" >
                        <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full p-2 border-1 " (click)="selectImage($event,image)" >
                    </div>
                </div>
            </p-dialog>
            <div class="grid mt-1" *ngIf="image != null">
                <div class="product-image col-2 flex align-items-center">
                    <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full">
                    <button class="btn btn-danger p-button-text delete-image">x</button>
                </div>
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button class="btn btn-success" type="submit" *ngIf="!onUpdate" (click)="createBlog()">Tạo mới</button>
        <button class="btn btn-primary" type="submit" *ngIf="onUpdate" (click)="updateBlog()" >Cập nhật</button>
        <button  class="btn btn-danger ml-3" (click)="showForm=false">Hủy</button>
    </ng-template>
</p-dialog>


<p-dialog header="Xác nhận" [(visible)]="onDelete" [style]="{width :'30vw'}" [modal]="true" [transitionOptions]="'.3s'">
    <div>
        <i class="pi pi pi-exclamation-triangle"></i>
        <span class="ml-2">Bạn có chắc xóa <span>{{blogForm.title}}</span> ?</span>
    </div>
    <div class="flex justify-content-end mt-3">
        <p-button label="Yes" icon="pi pi-check" class="mr-2" (click)="deleteBlog()"></p-button>
        <p-button label="No" icon="pi pi-times" (click)="onDelete=false"></p-button>
    </div>
</p-dialog>